body {
    font-family: "Orbitron", sans-serif;
    background: #121212;
    color: #00ffd1;
    padding: 40px;
    text-align: center;
    margin: 0;
    background: #0e0e0e;
    
    
}
body h2 {

    font-weight: 700;
    font-size: 2rem;
}

.metrics {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    text-align: left;
    font-size:1.2rem;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    z-index: 0;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 400px;
    height: 550px;
    box-shadow: 0 0 10px #00ffd1;
}
.metrics label {
    font-weight: 400;
    font-size: 2rem;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
.metrics input {
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 0 5px #00ffd1;
    border-radius: 4px;
    background-color: #2c2b2b;
    color: #00ffd1;
    text-align: center;
}
.metrics button{
    margin-top: 20px;
    padding: 10px 20px;
    width: 200px;
    background-color: #2c2b2b;
    color: #00ffd1;
    border: 1px solid #00ffd1;
    border-radius: 6px;
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    
}
 .result {
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
}
select{
    background: #2c2b2b;
    border: 1px solid #00ffd1;
    color: #00ffd1;
    border-radius: 3px;
    width: 100px;
    height: 25px;
    scrollbar-color: #00ffd1;
    
}
.short {
    color: red;
}
.long {
    color: green;
}

.container {
    height: 400px;
    width: 400px;
    position: relative;
    margin: 0 auto;
}

.sun{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 30px white;
    position: absolute;
    top: 150px;
    left: 150px;

}
.globe.earth{
    background: aqua;
    height: 30px;
    right: 28px;
    top: 28px;
    width: 30px;
}
.globe.moon {
    width: 12px;
    height: 12px;
    background: #d6d6d6;
    right: 2px;
    top: 8px;
}
.globe {
    border-radius: 50%;
    position: absolute;

}
.orbit.earth {
    position: relative;
    animation: orbit 36.5s linear infinite;
    height: 360px;
    left: 50px;
    top: 50px;
    width: 300px;
}
.orbit.moon{
    animation: orbit 2.7s linear infinite;
    height: 80px;
    left: -25px;
    top: -25px;
    width: 80px;
}
.orbit{
    position: relative;
    border: solid;
    border-color: white transparent transparent transparent;
    border-radius: 50%;
    border-width: 1px 1px 0 0;
    box-sizing: border-box;
    transform: rotate(0deg);
    transform-origin: center;

}
@keyframes orbit{
    to{
        transform: rotate(360deg);
    }
}
